[submodule "vim_bundles/xoria256.vim"]
	path = vim_bundles/xoria256.vim
	url = git://github.com/vim-scripts/xoria256.vim.git
[submodule "vim_bundles/vim-surround"]
	path = vim_bundles/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim_bundles/vim-repeat"]
	path = vim_bundles/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "vim_bundles/vim-less"]
	path = vim_bundles/vim-less
	url = https://github.com/groenewege/vim-less
[submodule "vim_bundles/vim-easymotion"]
	path = vim_bundles/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "vim_bundles/ScrollColors"]
	path = vim_bundles/ScrollColors
	url = git://github.com/vim-scripts/ScrollColors.git
[submodule "vim_bundles/python-mode"]
	path = vim_bundles/python-mode
	url = git://github.com/klen/python-mode.git
[submodule "vim_bundles/nerdtree"]
	path = vim_bundles/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim_bundles/delimitMate"]
	path = vim_bundles/delimitMate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "vim_bundles/nerdcommenter"]
	path = vim_bundles/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim_bundles/YouCompleteMe"]
	path = vim_bundles/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "vim_bundles/vim-javascript"]
	path = vim_bundles/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim_bundles/vim-node"]
	path = vim_bundles/vim-node
	url = https://github.com/moll/vim-node.git
[submodule "vim_bundles/mango.vim"]
	path = vim_bundles/mango.vim
	url = https://github.com/goatslacker/mango.vim.git
[submodule "vim_bundles/vim-bufferline"]
	path = vim_bundles/vim-bufferline
	url = https://github.com/bling/vim-bufferline.git
[submodule "vim_bundles/syntastic"]
	path = vim_bundles/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "vim_bundles/vim-airline"]
	path = vim_bundles/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "vim_bundles/vim-fugitive"]
	path = vim_bundles/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim_bundles/vim-jsx"]
	path = vim_bundles/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "vim_bundles/vim-ansible-yaml"]
	path = vim_bundles/vim-ansible-yaml
	url = git@github.com:chase/vim-ansible-yaml.git
[submodule "vim_bundles/vim-jinja"]
	path = vim_bundles/vim-jinja
	url = git@github.com:mitsuhiko/vim-jinja.git
[submodule "vim_bundles/vim-jinja2"]
	path = vim_bundles/vim-jinja2
	url = https://github.com/Glench/Vim-Jinja2-Syntax
[submodule "vim_bundles/vim-jade"]
	path = vim_bundles/vim-jade
	url = git://github.com/digitaltoad/vim-jade.git
[submodule "vim_bundles/vim-javascript-libraries-syntax"]
	path = vim_bundles/vim-javascript-libraries-syntax
	url = https://github.com/othree/javascript-libraries-syntax.vim
[submodule "vim_bundles/incsearch.vim"]
	path = vim_bundles/incsearch.vim
	url = https://github.com/haya14busa/incsearch.vim
[submodule "vim_bundles/vim-airline-themes"]
	path = vim_bundles/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "vim_bundles/vim-gundo"]
	path = vim_bundles/vim-gundo
	url = https://github.com/sjl/gundo.vim
[submodule "vim_bundles/vim-ctrlspace"]
	path = vim_bundles/vim-ctrlspace
	url = https://github.com/vim-ctrlspace/vim-ctrlspace.git
[submodule "vim_bundles/vim-sleuth"]
	path = vim_bundles/vim-sleuth
	url = https://github.com/tpope/vim-sleuth.git
[submodule "vim_bundles/vim-indent-guides"]
	path = vim_bundles/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "vim_bundles/vim-esformatter"]
	path = vim_bundles/vim-esformatter
	url = https://github.com/millermedeiros/vim-esformatter.git
[submodule "vim_bundles/vim-better-whitespace"]
	path = vim_bundles/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace.git
[submodule "vim_bundles/unite.vim"]
	path = vim_bundles/unite.vim
	url = https://github.com/Shougo/unite.vim.git
[submodule "vim_bundles/vimproc.vim"]
	path = vim_bundles/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "vim_bundles/vim-css3-syntax"]
	path = vim_bundles/vim-css3-syntax
	url = https://github.com/hail2u/vim-css3-syntax.git
[submodule "vim_bundles/vim-scss-syntax"]
	path = vim_bundles/vim-scss-syntax
	url = https://github.com/cakebaker/scss-syntax.vim.git
[submodule "vim_bundles/vim-unimpaired"]
	path = vim_bundles/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim_bundles/vim-gloden-view"]
	path = vim_bundles/vim-gloden-view
	url = https://github.com/zhaocai/GoldenView.Vim.git
[submodule "vim_bundles/vim-ack"]
	path = vim_bundles/vim-ack
	url = https://github.com/mileszs/ack.vim
[submodule "vim_bundles/vim-obsession"]
	path = vim_bundles/vim-obsession
	url = https://github.com/tpope/vim-obsession.git
[submodule "vim_bundles/vim-ternjs"]
	path = vim_bundles/vim-ternjs
	url = https://github.com/ternjs/tern_for_vim.git
