[submodule "vim_bundles/zencoding-vim"]
	path = vim_bundles/zencoding-vim
	url = http://github.com/mattn/zencoding-vim.git
[submodule "vim_bundles/xoria256.vim"]
	path = vim_bundles/xoria256.vim
	url = git://github.com/vim-scripts/xoria256.vim.git
[submodule "vim_bundles/vim-surround"]
	path = vim_bundles/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim_bundles/vim-repeat"]
	path = vim_bundles/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "vim_bundles/vim-less"]
	path = vim_bundles/vim-less
	url = https://github.com/groenewege/vim-less
[submodule "vim_bundles/vim-easymotion"]
	path = vim_bundles/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "vim_bundles/ScrollColors"]
	path = vim_bundles/ScrollColors
	url = git://github.com/vim-scripts/ScrollColors.git
[submodule "vim_bundles/python-mode"]
	path = vim_bundles/python-mode
	url = git://github.com/klen/python-mode.git
[submodule "vim_bundles/nerdtree"]
	path = vim_bundles/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim_bundles/ctrlp.vim"]
	path = vim_bundles/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim_bundles/delimitMate"]
	path = vim_bundles/delimitMate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "vim_bundles/vim-javascript-syntax"]
	path = vim_bundles/vim-javascript-syntax
	url = git://github.com/jelera/vim-javascript-syntax.git
[submodule "vim_bundles/nerdcommenter"]
	path = vim_bundles/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim_bundles/tern.js"]
	path = vim_bundles/tern.js
	url = git://github.com/marijnh/tern_for_vim.git
[submodule "vim_bundles/jshint.vim"]
	path = vim_bundles/jshint.vim
	url = git://github.com/wookiehangover/jshint.vim.git
[submodule "vim_bundles/vim-javascript"]
	path = vim_bundles/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule "vim_bundles/vim-indent-guides"]
	path = vim_bundles/vim-indent-guides
	url = git@github.com:nathanaelkane/vim-indent-guides.git
[submodule "vim_bundles/YouCompleteMe"]
	path = vim_bundles/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "vim_bundles/ag.vim"]
	path = vim_bundles/ag.vim
	url = https://github.com/rking/ag.vim
